RewriteEngine On
# Handle Authorization Header
#RewriteBase /
#RewriteCond %{HTTPS} !=on
#RewriteCond %{HTTP_HOST} ^iragiro\.com$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.iragiro\.com$
#RewriteRule .* https://iragiro.com%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTPS} =on
#RewriteCond %{HTTP_HOST} ^www\.iragiro\.com$
#RewriteRule .* https://iragiro.com%{REQUEST_URI} [R=301,L]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L]
RewriteRule ^([0-9a-zA-Z_-]+).(home)/?$ index.php?username=$1 [NC,L,QSA]
RewriteRule ^([0-9a-zA-Z_-]+)/?$ profile.php?username=$1 [NC,L,QSA]
RewriteRule ^([0-9a-zA-Z_-]+).(view_all_property|property_request)/?$ $2.php?username=$1 [NC,L,QSA]

