select {
    margin-right: 30px;
    width: 150px;
    font-size: 14px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background: #F2F4F5;
    border: 1px solid #ebebeb;
    line-height: 35px;
    font-size: 14px;
    color: #707079;
    padding-left: 5px;
}

select option:hover {
    background-color: #f6f6f6;
}

.single-property-item  .banner{

    left: 18px;
    position: absolute;
    text-align: center;
    top: 0;
}